<style type="text/css">
    body, html, .body {
        /*background: #f3f3f3 !important; */
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        color: #444;
    }
</style>
<container>
    <spacer size="16"></spacer>
    <row>
        <columns>
            <center>
                <img src="https://www.matisses.co/360/360_150h.png" alt="logo">
            </center>
        </columns>
    </row>
    <row>
        <columns large="8">
            <table style="width: 100%"><tr><td style="width: 100%; text-align: center;"><br/><h1>Nuevo comentario en solicitud de servicio</h1></td></tr></table>
        </columns>
        <columns large="8">
            <table style="width: 100%">
                <tr>
                    <td style="width: 100%; text-align: center;">
                        <br/>
                        El cliente ha ingresado un nuevo comentario a la solicitud de servicio #${ticketNumber}.<br/>
						<b>${nuevoComentario}</b>
						<br/><br/>
						Se recomienda ir a SAP si desea revisar el historial completo de la solicitud.
                    </td>
                </tr>
            </table>
        </columns>
    </row>
</container>